<% include header.ejs %>
<div class="ui grid">
    <div class="four wide column">
        <a href="/posts?author=<%= user._id %>" data-title="<%= user.name %> | <%= ({m:'男',f:'女',x:'保密'})[user.gender] %>" class="avatar">
            <img src="/img/<%= user.avatar %>" alt="头像" class="avatar">
        </a>
    </div>
</div>
<div id="create-post" class="eight wide column">
    <form method="post" class="ui form column">
        <div class="field required">
            <label>标题</label>
            <input type="text">
        </div>
        <div class="field required">
            <label>内容</label>
            <textarea cols="30" rows="10"></textarea>
        </div>
        <input type="button" id="submit-post" class="ui button" value="提交">
    </form>
</div>

<script>
    (function ($) {
        $(function () {
            function createPost(request) {
                $.ajax({
                    url: '/posts',
                    method: 'POST',
                    data: request
                })
                        .success(function (data) {
                            if (data){
                                console.log(data);
                            }
                        })
                        .error(function (err) {
                            console.error(err);
                        })
            }

            $('#submit-post').click(function () {
                var requestData = {
                    title: $('#create-post input').val(),
                    content: $('#create-post textarea').val()
                };
                createPost(requestData);
            });
        })
    })(jQuery);
</script>
<% include footer.ejs %>